# common
python-dateutil==2.8.1
requests==2.25.1
tox
toml==0.10.2
pydantic[dotenv]

# web
fastapi==0.65.2
uvicorn==0.12.3
python-multipart==0.0.5
websockets==8.1

# PostgreSQL
aiopg==1.2.1
psycopg2-binary==2.8.6
sqlalchemy==1.4.5
sqlalchemy-jsonfield==0.9.0
sqlalchemy-stubs==0.3
alembic==1.5.8

# dev
isort==5.8.0
mypy==0.790
mypy-extensions==0.4.3
pylint==2.7.4
pytest==5.4.3
pytest-aiohttp == 0.3.0
pytest-mock==3.5.1
pytest-freezegun==0.4.2
pytest-cov==2.11.1
coverage==5.5
nest-asyncio==1.5.1
